@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F0F0F0;
}

h1{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
}

h2,h3{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

@theme {
  --color-blue-primary: #0500FF;
  --color-blue-10: #EDEFFB;
  --color-black-neutral: #1C1C1C;
  --color-gray-20: #9E9E9E;
  --color-gray-10: #DFDFDF;
  --color-gray-05: #F5F5F5;
  --color-gray-00: #F0F0F0;
  --color-white: #FFFFFF;

  --shadow-01:0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  --shadow-02:0px 2px 4px 0px rgba(0, 0, 0, 0.2);

}