@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-blue-primary: #0500FF;
  --color-blue-10: #EDEFFB;
  --color-black-neutral: #1C1C1C;
  --color-gray-20: #9E9E9E;
  --color-gray-10: #DFDFDF;
  --color-gray-05: #F5F5F5;
  --color-gray-00: #F0F0F0;
  --color-white: #FFFFFF;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
}
h2{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
h3{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
}